*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title{
    text-align: center;
    margin-bottom: 1em;
    font-size: 40px;
}

#list-team{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
}

.card {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    max-width: calc(100% / 3 - 20px * 2 / 3);
    text-align: center;
    padding: 1em;
    border: 1px solid;
  }